 <div class="main-div center">
<!-- app/views/professors/index.html.erb -->
<h1>Theses for Grading</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Thesis Name</th>
      <th scope="col">Grades</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @theses.each do |thesis| %>
    <tr>
      <th scope="row"><%= thesis.id %></th>
      <td><%= thesis.title %></td>
      <td>
        <% if thesis.grades == nil %>
          Pending
        <% else %>
          completed
          <% end %>
      </td>
      <td>
      <% if thesis.professor == nil %>
      <%= link_to 'Assign to Yourself', assign_thesis_professor_path(thesis), method: :post, class: 'btn btn-warning' %>
      <% elsif thesis.professor == current_professor %>
      <%= link_to 'Edit Grades', professors_show_path(id: thesis.id), class: 'btn btn-success' %>
      <% else %>
      <%= link_to 'Show Thesis', professors_show_path(id: thesis.id), class: 'btn btn-info' %>

      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



</div>

<style type="text/css">
  .main-div{
    position: absolute;
    top: 15%;
    left: 35%;


  }
</style>